*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;    
}
body {
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(226, 89, 89, 0.1);
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px ;
}
.container-2{
    height: 30vh;
    width: 60vw;
    background-color: #45a049;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius:20px ;
}
.container-2 #boxes , #boxes2{
    height: 90px;
    width: 150px;
    background-color: white;
    padding: 9px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius : 10px ;
}
.lemon-juice
{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

input[type="text"] {
    padding: 5px;
    width: 80%;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.nature {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

#nature-answer {
    margin-top: 10px;
    font-weight: bold;
}
#answers ul{
    list-style: none;
}


@media (max-width:1370px) {
    .container-2{
        width: 95%;
    }
}
@media (max-width:1120px) {
    .container-2{
        width: 90%;
        height: 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 20%;
        padding-right: 20%;
        gap:2em;
        flex-wrap: wrap;
    }
    #boxes:nth-child(1){
        width: 250px;
        height: 120px;
    }
    #boxes:nth-child(1) p{
        padding-left: 10px;
    }
    
}
@media (max-width:917px){
    .container{
        width: 90%;
    }
    .container-2{
        width: 90%;
        height: 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        gap:2em;
        flex-direction: column;
    }
    .container-2 #boxes,#boxes2{
        width: 200px;
        height: 120px;
    }

}
@media (max-width:510px) {
    .container-2{
        padding-left: 0;
        padding-right: 0;
    }
    .container-2 #boxes,#boxes2{
        padding: 0;
        width: 90%;
        
    }
}
@media (max-width:365px){
    .lemon-juice{
        width:90px;
        height:auto;
    }
}